* {
box-sizing: border-box;
}
body {
border: 50px solid rgba(255, 255, 255, 0.8);
border-image: url("https://cdn.wallpapersafari.com/65/51/3QObE1.png") 50%;
border-color: #cccccc;
border-image-width: 125px;
background: rgb(140,140,140);
background: linear-gradient(
    100deg,
rgba(140,140,140,1) 0%,
rgba(193,193,193,1) 8%,
rgba(226,226,226,1) 40%,
rgba(226,226,226,1) 60%,
rgba(193,193,193,1) 92%,
rgba(140,140,140,1) 100%);


}
h1, h2{
font-family: fantasy, cursive;
color: rgba(255, 136, 0, 0.39);
text-shadow: 1px 1px rgba(133, 2, 2, 0.664);

border: 4px double black;

background-image: url('../img/page_background.jpg');
background-repeat: repeat-x;
background-clip: padding-box;
background-position: 30vw -50vh;
background-attachment: scroll;
position: relative;
top: 0; left: 0;
width: 100%; height: 100%;
}

div.header-element header {
text-align: center;
}

div.header-element header p.js-credit {
text-align: right;
font-size: 15px;
color: black;
text-align: right;
position: relative;
margin-right: 20vw;
}

div.header-element header img.js-character-avatar{
border: 4px solid;
padding: 2px;
border-color: black;
}

div.header-element header img.js-logo{

border: none;
box-shadow: none;
width: 40vw;
min-width: 440px;
max-width: 752px;
height: 60vh;
min-height: 171px;
max-height: 208px;

}

div.header-element h1.js-name{
font-size: 70px;


}

div.main-element main {
text-align: left;
display:inline-block;
}

div.main-element main img.js-berserker-armor{
border: 4px solid;
padding: 2px;
border-color: black;
}

div.main-element main h2 {
font-size: 50px;
padding-left: 10px;
}

div.main-element main p.description{
font-family: serif;
font-size: 26px;
}

div.main-element main p.caption{


border: 15px solid rgba(255, 255, 255, 0.8);
border-image: url("https://cdn.wallpapersafari.com/65/51/3QObE1.png")
50%;

border-color: #cccccc;
border-spacing: 500px 100px;
border-image-width: 50px;

padding-left: 0.5%;

font-size: 20px;
font-family: 'Galada', cursive;
float: right;
margin-top: 60px;
margin-right: 15px;
}

div.main-element main p.caption span.caption-guts{
margin-inline-start: 86%;
font-size: 26px;
}

div.main-element-friends h2{
font-size: 50px;
padding-left: 10px;
}

div.main-element-friends ul{
font-size: 60px;
font-family: 'Galada', cursive;
}

div.main-element-friends span{
margin-left: 5%;
font-size: 26px;
}

div.main-element-friends img{
border: 4px solid;
padding: 2px;
border-color: black;
margin-left: 75%;
box-shadow: 6px 2px 21px -9px
rgba(0,0,0,0.63);
}

div.main-element-friends br{
line-height: 130%;
}

div.main-element-friends img.casca{
width: 400px;
height: 75%;
}

div.main-element-friends img.rickert{
width: 400px;
height: 75%;
}

div.footer-element footer{
font-family: cursive;
font-size: 20px;
margin-left: 400px;
margin-bottom: 5px;
padding: 3px;
position: relative;
}
