body {
border: 100px solid rgba(255, 255, 255, 0.8);
border-image: url("https://cdn.wallpapersafari.com/65/51/3QObE1.png") 50%;
border-color: #cccccc;
background: rgb(140,140,140);
background: linear-gradient(
    100deg,
rgba(140,140,140,1) 0%,
rgba(193,193,193,1) 8%,
rgba(226,226,226,1) 40%,
rgba(226,226,226,1) 60%,
rgba(193,193,193,1) 92%,
rgba(140,140,140,1) 100%);


}
h1, h2{
font-family: 'Galada', cursive;
}
div.header-element header {
text-align: center;
height: 0;
padding-bottom: 56.25%; /* 16:9 */
position: relative;
}
div.header-element header p.js-credit {
text-align: right;
font-size: 15px;
color: black;
margin-block-start: -0.4%;  /* height of the block from the top */
margin-block-end: 4%; /* height of the block from the bottom */
margin-inline-end: 22.1%; /* pushed by set number of pixels from the right, in-line (end) */
}
div.header-element header img.js-character-avatar{
border: 4px solid;
padding: 2px;
border-color: black;

}
div.header-element header h1.js-name{
font-family: fantasy;
}

div.header-element header img.js-logo{
visibility: visible;
border: hidden;
padding: 0px;

}
div.main-element main {
text-align: left;
display:inline-block;
}
div.main-element main img.js-berserker-armor{
border: 4px solid;
padding: 2px;
border-color: black;
}
div.main-element main h2 {
font-size: 50px;
font-weight: bold;
}

div.main-element main p.description{
font-family: serif;
font-size: 26px;
}
div.main-element main p.caption{
border: 50px solid rgba(255, 255, 255, 0.8);
border-image: url("https://cdn.wallpapersafari.com/65/51/3QObE1.png") 50%;
border-color: #cccccc;
border-spacing: 500px 100px;

font-size: 20px;
font-family: 'Galada', cursive;
float: right;
margin-top: 60px;
margin-right: 15px;
}
div.main-element main p.caption span.caption-guts{
margin-inline-start: 90.9%;
font-size: 20px;
}
div.main-element-friends{
font-size: 50px;
}
div.footer-element footer{
font-family: cursive;
font-size: 20px;
margin-block-start: 400px;
}
