

*{
box-sizing: border-box;
overflow: visible;
}
body{
display: flex;
flex-direction: column;

border: 1px solid rgba(255, 255, 255, 0.8);
border-image: url("../img/background_frame.png") 50%;
border-color: #cccccc;
border-image-width: 125px;

background: rgb(140,140,140);
background: linear-gradient(
100deg,
rgba(140,140,140,1) 0%,
rgba(193,193,193,1) 8%,
rgba(226,226,226,1) 40%,
rgba(226,226,226,1) 60%,
rgba(193,193,193,1) 92%,
rgba(140,140,140,1) 100%);

/* No borders */
margin: 0;


}



/* Navbar -- START */
.navbar{
display: flex;
justify-content: space-between;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 999;
height: 110px;
padding: 15px 5px 15px 5px;



background: url('../img/page_background.jpg') no-repeat rgb(0, 0, 0);
background-clip: padding-box;
background-size: 32%;
background-position: 70%;
background-attachment: scroll;
/* background: 
linear-gradient(8deg, rgba(164,164,164,1) 0%,
rgba(89,89,89,1) 41%,
rgba(66,66,66,1) 59%,
rgba(18,12,1,1) 100%); */


border: 2px solid black;
border-radius: 5px;
}
/* Navbar -- END */

/* Dropdown menu  -- START */
.dropdown-btn{
display: block;
width: 200px;
height: 100%;
color: white;
font-size: 18px;
background-color: rgb(0, 0, 0);
border: 0px;
}
.dropdown-btn:hover{
background-color: rgb(46, 46, 46);
border: 2px solid black;
}
.burger-btn{
display: none;
}
.dropdown-contents{
display: none;
flex-direction: column;
padding: 10px 0px 10px 0px;
text-align: center;
justify-content: space-around;
list-style: none;
background-color: black;
border: 2px solid rgb(46, 46, 46);
z-index: 989;
}

.dropdown-character{
width: 100%;
height: 30px;
padding: 5px;
}

.dropdown-character a{
text-decoration: none;
color: white;
font-size: 20px;
font-family: Teko, cursive;
}

.dropdown-character:hover{
background-color: rgb(46, 46, 46);
cursor: pointer;
}


.burger-btn{
position: absolute;
top: 2.5rem;
right: 1.5rem;
flex-direction: column;
justify-content: space-between;
width: 50px;
height: 21px;
z-index: 990;
}

.burger-btn .bar{
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}


/* Dropdown menu -- END */

.js-logo{
width: 115px;
height: 50px;
margin-left: 15px;
}
.js-logo:hover{
border: 2px solid black;
cursor: pointer;
}
.js-credit{
margin-left: 25px;
margin-top: 0px;
color: white;
}
/* Navbar -- END */



h1, h2, h3{
font-family: Teko, cursive;
text-align: center;
color: rgb(255, 136, 0);
text-shadow: 1px 1px rgba(24, 0, 0, 0.664);

border: 4px double black;
border-radius: 10px;

background: url('../img/page_background.jpg') no-repeat rgb(0, 0, 0);
/* background-image: url('../img/page_background.jpg'); */
background-clip: padding-box;
background-size: 50%;
background-position: 140%;
background-attachment: scroll;
position: relative;
padding: 10px;

}



h1{
font-size: 64px;
}

h2{
font-size: 48px;
}

h3{
font-size: 46px;
}

a{
text-decoration: none;
}

.nbsp{
height: 25px;
}

.context-div{
display: flex;
flex-direction: column;
}

.context{
transition: all 1000ms ease-in-out;
flex-direction: column;
height: fit-content;
word-wrap: break-word;
padding: 25px;
}

.context-text{
text-indent: 10px;
}


.js-context-switch{
align-self: Center;
width: 50%;
text-align: center;
border-radius: 10px;
border: 4px solid black;
background-color: black;
color: white;
margin-top: 0;
margin-left: 1vw;
padding: 10px;
font-size: 20px;

position: relative;
transition: 250ms ease-out;
}

.js-context-switch:hover{
background-color: rgba(128, 128, 128, 0.904);
border: 3.8px solid black;
}


.overview_image{
justify-self: center;
padding: 0;
margin: auto;
display: flex;
flex-direction: column;
width: 90%;
align-self: center;
justify-content: center;
}


.overview{
width: 100%;
border: 4.5px solid black;
border-radius: 2px;
margin: auto;
background: white;
position: relative;
}

.main{
width: 80%;
position: relative;
top: 2vw;
left: 6vw;
z-index: 400;
transition: 250ms ease-in-out;
}

.main:hover{
top: 1vw;
left: 0;
width: 85%;
z-index: 402;
}

.inside{
width: 65%;
z-index: 401;
position: relative;
right: 15vw;
border: 2px solid black;
transition: 250ms ease-in-out;
}

.inside:hover{
right: 5vw;
width: 70%;
}

.about_project{
font-size: 26px;
font-family: Lobster, cursive;
text-indent: 2px;
padding: 6px;
}

.about_text{
padding: 5px;
}

.about_project p{
padding: 20px;
}

.about_project ul{
padding: 20px 20px 20px 40px;
}

.characters{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.character{
display: flex;
flex-direction: column;
border: 4px double black;

padding: 0;
margin: 0;
transition: 50ms ease-in-out;
z-index: 400;
}

.character img{
width: 400px;
height: 450px;
border: 4px solid black;
}

.character h4{
width: 400px;
height: 64px;

margin: 0;

border: 4px solid black;
background: rgb(36,36,36);
background: linear-gradient(
100deg,
rgba(226,226,226,1) 0%,
rgba(193,193,193,1) 5%,
rgba(36,36,36,1) 35%,
rgba(36,36,32,1) 65%,
rgba(193,193,193,1) 95%,
rgba(226,226,226,1) 100%);

font-size: 42px;
font-family: Teko, cursive;
text-align: center;
color: rgb(255, 136, 0);

}

.character:hover{
border: 2px solid black;
z-index: 401;
}


footer{
/* font-size: 20px;
margin-right: 2%;
margin-bottom: 5px;
padding: 20px;
position: relative;
text-align: right; */

display: inline-flex;
font-size: 20px;
/* margin-right: 2%; */
width: 100%;
margin-bottom: 0.5%;
padding: 20px;
position: relative;
text-align: right;
justify-content: space-between;
}

/* Language selection -- START */
.welcoming-header{
display: flex;
flex-direction: column;
margin-bottom: 0;
margin-top: 0;
}


.localization-header{
display: flex;
justify-content: space-evenly;

border: 4px double white;
border-radius: 10px;

background: rgb(0, 0, 0);
margin-bottom: 5%;
}


.local-txt{
display: flex;
flex-direction: row;
}

.local-txt-en, .local-txt-cz{
display: inline-flex;
align-self: center;
font-family: Teko, cursive;
font-size: 40px;
text-align: center;
color: rgb(255, 136, 0);
text-shadow: 1px 1px rgba(24, 0, 0, 0.664);

position: relative;
padding: 20px;
}


.vertical-rule{
display: inline-flex;
width: 2px;
height: 90%;
background-color: black;
border-radius: 10px;
box-shadow: 0 0 grey;
align-self: center;
padding: 0;
margin: 0;
}





.buttons{
display:flex;
flex-direction: row;
/* align-self: center; */
width: 100%;
justify-content: space-evenly;
}

.button{
width: 375px;
height: 300px;

font-family: Teko, 'Times New Roman', Times, serif;
font-size: 150px;
text-align: center;

background-color: rgba(0, 0, 0, 0.678);
color: white;

border: 2.5px double black;
border-radius: 10px;

transition: 50ms ease-in-out;
}

.button:hover{
border: 1.3px double black;
background-color: rgba(128, 128, 128, 0.904);
}

.or-txt{
display: flex;
flex-direction: column;
text-align: center;
margin-top: auto;
margin-bottom: auto;
font-family: Lobster, cursive;
font-size: 20px;
}

.hr-index{
width: 35%;
height: 2px;
background-color: black;
border-radius: 10px;
box-shadow: 0 0 grey;
align-self: center;
padding: 0;
margin: 0;
}

.footer-element{
margin-top: 2%;
margin-bottom: 0.5%;
display: flex;
}

.footer-page-info{
display: flex;
flex-direction: column;
}

.footer-page-info h5{
margin: 0;
margin-top: 1%;
}


.hr-index.or{
width: 100%;
}

.footer-localization-swap{
/* font-size: 20px;
height: 35%;
border: 4px solid #232323;
border-radius: 10px;
background-color: rgb(0, 0, 0);
color: white;
margin-left: 0.5%;
font-family: 'Teko', cursive;
padding: 3px;
width: 40px;
text-align: center;
text-decoration: none;
align-self: flex-end; */
display: flex;
flex-direction: row;
width: 35vw;
min-width: 23vw;
margin-left: 0.5%;
justify-content: left;
}

.local-swap-anchor:hover{
background-color: rgb(78 77 77);
cursor: pointer;
}

.local-swap-anchor{
font-size: 20px;
height: fit-content;
border: 4px solid #232323;
border-radius: 10px;
background-color: rgb(0, 0, 0);
color: white;
font-family: 'Teko', cursive;
padding: 3px;
width: 40px;
text-align: center;
text-decoration: none;
position: relative;
left: 0.5%;
align-self: flex-end;
}

.footer-index{
justify-content: space-evenly;
width: 100%;
display: flex;
flex-direction: row;
font-size: 20px;
margin-right: 0;
margin-bottom: 0;
padding: 20px;
position: relative;
}
.footer-index-text-en{
font-size: 16px;
margin-bottom: 0.5%;
margin-right: 10%;
padding: 10px;
position: relative;
text-align: left;
}

.footer-index-text-cz{
font-size: 16px;
margin-bottom: 0.5%;
margin-left: 10%;
padding: 10px;
position: relative;
text-align: right;
}





/* Language selection -- END */

/* for mobile devices -- START */
@media (max-width: 641px){
    .dropdown-btn{
    display: none;
    }

    .burger-btn{
    display: flex;
    }

    .dropdown-contents{
    position: relative;
    top: 4.8rem;
    }

    h2, h3{
    font-size: 27px;
    }

    h1{
    font-size: 32px;
    }
    
    .overview{
    border: 2px solid black;
    }

    .main:hover{
    width: 100%;
    left: 0vw;
    top: 5vw;
    }
    .inside:hover{
    right: 0vw;
    width: 100%;
    }
    .about_project p, .about_project li{
    font-size: 16px;
    padding: 3px;
    }

    .context{
    font-size: 14px;
    }

    .js-context-switch{
    width: 90%;
    margin-left: 0;
    }

    .characters{
    width: 100%;
    }

    .character img{
    width: 150px;
    height: 175px;
    border: 2px double black;
    }
    .character h4{
    width: 150px;
    height: 30px;
    
    margin: 0;
    
    border: 2px solid black;
    background: rgb(36,36,36);
    background: linear-gradient(
    100deg,
    rgba(226,226,226,1) 0%,
    rgba(193,193,193,1) 5%,
    rgba(36,36,36,1) 35%,
    rgba(36,36,32,1) 65%,
    rgba(193,193,193,1) 95%,
    rgba(226,226,226,1) 100%);
    
    font-size: 21px;
    font-family: Teko, cursive;
    text-align: center;
    color: rgb(255, 136, 0);
    
    }

    .character:hover{
    border: 2px double black;
    }
    
    .character:active{
    border: 6px solid black;
    }

    .button{
    width: 135px;
    height: 75px;
    font-size: 50px;
    }
    
    .local-txt-cz, .local-txt-en{
    font-size: 20px;
    }

    .hr-index{
    width: 50%;
    }
    .footer-localization-swap{
    justify-content: center;
    }

    .local-swap-anchor{
    align-self: center;
    }

    .footer-page-info{
    margin-right: 6%;
    font-size: 11px;
    }

    footer{
    padding: 3px;
    margin-bottom: 5%;
    /* transform: scale(0.8); */
    }
    
}
/* for mobile devices -- END */